---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout
  title="Page Introuvable | EFEL COMMUNICATION"
  description="Oups, cette page est introuvable. Laissez-nous vous aider à retrouver votre chemin sur le site de EFEL COMMUNICATION."
>
  <main class="text-center flex flex-col justify-center items-center py-8 px-4">
    <div class="w-full flex flex-col justify-center items-center">
      <h1 class="paragraph text-4xl md:text-5xl font-bold text-[#ec825b] mb-2">
        Oups, cette page a mis les voiles.
      </h1>

      <p class="text-xl font-medium mb-4 paragraph">Erreur 404</p>

      <p class="text-lg mb-8 paragraph">
        Pas d'inquiétude, même les meilleurs navigateurs peuvent se perdre. Le
        lien que vous avez suivi est peut-être incorrect ou la page a été
        déplacée.
        <br /><br />
        Laissez-moi vous aider à retrouver votre cap.
      </p>

      <div class="flex flex-col sm:flex-row justify-center gap-8">
        <Button href="/" label="Retourner à l'accueil" />
        <Button href="/prestations" label="Voir mes prestations" />
      </div>
    </div>
  </main>
</Layout>
