---
import Layout from "../layouts/Layout.astro";
import image from "../assets/first_image_home.jpg";
import image3 from "../assets/mock_1.jpg";
import image4 from "../assets/mock_3.jpg";
import image5 from "../assets/mock_4.jpg";

import { Image } from "astro:assets";

const galleryItems = [
  { src: image5, alt: "Random image" },
  { src: image, alt: "Random image" },
  { src: image4, alt: "Random image" },
  { src: image3, alt: "Random image" },
  { src: image5, alt: "Random image" },
  { src: image4, alt: "Random image" },
  { src: image3, alt: "Random image" },
  { src: image, alt: "Random image" },
];
---

<Layout>
  <div class="px-16">
    <h2 class="text-3xl font-bold text-center mb-8">CSS Masonry Gallery</h2>
    <div class="columns-2 md:columns-3 lg:columns-4 gap-4 space-y-4">
      {
        galleryItems.map((item) => (
          <div class="break-inside-avoid overflow-hidden shadow-lg">
            <Image
              src={item.src}
              alt={item.alt}
              class="w-full h-auto object-cover"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </div></Layout
>
