---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Mentions Légales | EFEL COMMUNICATION"
  description="Consultez les mentions légales du site de EFEL COMMUNICATION. Retrouvez toutes les informations relatives à l'éditeur du site, la propriété intellectuelle et l'hébergement."
>
  <main class="flex flex-col gap-8 px-4 lg:px-16 py-16">
    <h1 class="self-center text-2xl lg:text-4xl uppercase">Mentions Légales</h1>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">1. Éditeur du site</h2>
      <p class="pl-8">Le présent site est édité par :</p>
      <p class="pl-8">
        Flavie LIÈGE, entrepreneur individuel (Affaire personnelle).
      </p>
      <ul class="pl-16 list-disc">
        <li>
          Siège social : 6 PLACE LOUIS BLANC, 5ÈME ÉTAGE PORTE GAUCHE, 83000
          TOULON
        </li>
        <li>N° SIREN : 912 841 467</li>
        <li>N° SIRET : 912 841 467 00026</li>
        <li>N° TVA intracommunautaire : FR43912841467</li>
        <li>
          Activité (Code APE) : 7021Z - Conseil en relations publiques et
          communication
        </li>
        <li>Adresse e-mail : flavie.liege.fss@gmail.com</li>
        <li>Téléphone : 0666634455</li>
      </ul>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">2. Directeur de la publication</h2>
      <p class="pl-8">
        Le directeur de la publication est Madame Flavie LIÈGE, en sa qualité de
        dirigeante.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">3. Hébergement du site</h2>
      <p class="pl-8">Le site [Nom du site web] est hébergé par :</p>
      <p class="pl-8">LWS (Ligne Web Services)</p>
      <ul class="pl-16 list-disc">
        <li>Adresse : 10 rue Penthièvre, 75008 Paris, France</li>
        <li>Site web : www.lws.fr</li>
      </ul>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">
        4. Propriété intellectuelle et Crédits
      </h2>
      <p class="pl-8">
        Les photographies utilisées sur ce site proviennent de la banque
        d'images Unsplash et sont utilisées conformément à la licence Unsplash.
        Les icônes et illustrations vectorielles (SVG) proviennent des
        plateformes svgsilh.com et svgrepo.com et sont utilisées dans le respect
        de leurs conditions d'utilisation respectives.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">5. Données personnelles</h2>
      <p class="pl-8">
        Conformément au Règlement Général sur la Protection des Données (RGPD),
        l'utilisateur est informé que les informations recueillies via le
        formulaire de contact font l'objet d'un traitement informatique.
      </p>
      <ul class="pl-16 list-disc">
        <li>
          Finalité du traitement : La collecte des données a pour unique but la
          gestion des demandes de contact et la relation commerciale qui peut en
          découler.
        </li>
        <li>
          Données collectées : Les données collectées sont le prénom, le nom,
          l'adresse e-mail et le contenu du message de l'utilisateur.
        </li>
        <li>
          Destinataire des données : Les données sont destinées exclusivement à
          Madame Flavie LIÈGE.
        </li>
        <li>
          Sous-traitant : Pour assurer la transmission des informations du
          formulaire de contact, le site utilise le service tiers EmailJS. Ce
          service est utilisé comme un outil technique pour acheminer les
          données et ne les conserve pas pour son propre compte.
        </li>
        <li>
          Durée de conservation : Les données sont conservées pendant la durée
          nécessaire à la gestion de la relation commerciale.
        </li>
        <li>
          Vos droits : Vous pouvez exercer votre droit d'accès, de
          rectification, de suppression ou de portabilité des données vous
          concernant en contactant Madame Flavie LIÈGE à l'adresse e-mail
          suivante : [Ajoutez de nouveau l'adresse e-mail de contact].
        </li>
      </ul>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">6. Responsabilité</h2>
      <p class="pl-8">
        Flavie LIÈGE ne pourra être tenue responsable des dommages directs et
        indirects causés au matériel de l’utilisateur, lors de l’accès au site.
        Elle décline toute responsabilité quant à l’utilisation qui pourrait
        être faite des informations et contenus présents sur le site.
      </p>
    </section>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl lg:text-4xl">7. Droit applicable</h2>
      <p class="pl-8">
        Tout litige en relation avec l’utilisation du site [Nom du site web] est
        soumis au droit français.
      </p>
    </section>
    <p class="self-end">Mentions légales mises à jour le 17 octobre 2025.</p>
  </main>
</Layout>
